nav, header {
	display: block;
}

body {
	margin: 0;
}

label {
	font-size: 25px;
	font-weight: bolder;
	
}

.container {
	width: 100%;
	margin: auto;
	padding-top: 4%;
	padding-bottom: 4%
}

div article p {
	font-size: 25px;
	padding: 10px;
	line-height: 30px;
}

div.house img {
	display: block;
	margin: auto;
	box-shadow: -2px -2px 5px 2px rgba(0,0,0,.15),
	2px 2px 17px 2px rgba(0,0,0,1);

}

.row {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.row::after {
	display: table;
	clear: both;
	content: "";
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

* {
	box-sizing: border-box;
}



nav {
	width: 100%;
	margin: 0;
}

nav ul {
	background-color: #eee;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

ul.topnav li {
    list-style: none;
    float: left;
}

ul.topnav li.topnav-right {
	float: right;
}

ul.topnav li a {
	display: block;
	text-decoration: none;
	min-height: 16px;
	text-align: center;
	padding: 14px;
	text-transform: uppercase;
	color: #666;
}

ul.topnav li a:hover {
	background-color: #0080ff;
	color: #fff;
}

ul.topnav li.dropdown {
	display: none;
}

#section1 {
	background: #076DFF;
	background: -webkit-linear-gradient(#076DFF, #65a5ff);
	background: -o-linear-gradient(#076DFF, #65a5ff);
	background: -moz-linear-gradient(#076DFF, #65a5ff);
	background: linear-gradient(#076DFF, #65a5ff);
}

div.box1 {
	text-align: center; 
	line-height: 20px;
	border-radius: 7px;
	background-color: #fff;
	box-shadow: 0 0 0 1px rgba(0,0,0,.15),
	0 2px 3px 0 rgba(0,0,0,.1);
	margin: 24px;
	padding: 36px 24px 40px 24px;
}

button {
	font-size: 32px;
	font-weight: 700;
	color: #fff;
	background-color: #0069ff;
	padding: 15px 60px;
	display: block;
	text-align: center;
	margin: 5px;
	border-radius: 7px;
}

button.learn {
	display: block;
	margin: auto;
}

.box1 p {
	line-height: 20px;
}

div.icon {
	width: 100%;


}

.leftside-col {
	margin-left: 30%;
}

div.rightside-col {
	margin-left: 15%;
}

h1.large {
	color: #fff;
	font-size: 56px;
	margin: 0;
	line-height: 70px;
}

form h2 {
	color: #fff;
}

h1.sectionheader {
	font-size: 55px;
	text-align: center;

	
}

input[type="text"]{
	font-size: 20px;
	width: 400px;
	min-width: 100px;
	padding: 5px;
	border-radius: 7px;

}

@media screen and (max-width: 680px) {
	ul.topnav li:not(:nth-child(1)) {
		display: none;
	}

	ul.topnav li.dropdown {
		display: block;
		float: right;
	}

	ul.topnav.responsive li.dropdown {
		position: absolute;
		top: 0;
		right: 0;
	}

	ul.topnav.responsive {
		position: relative;
	}

	ul.topnav.responsive li {
		display: inline;
		float: none;
	}

	ul.topnav.responsive li a {
		display: block;
		text-align: left;
	}

footer.footsy {
	background-color: #666;
	
}
	

	h1.sectionheader {
		font-size: 26px;
	}

	article p {
		font-size: 15px;
	}

	.col-6, .col-4, .col-7, .col-5 {
		width: 100%;
		margin: 0;
	}

	div.house img {
		width: 100%;

	}

	div.house {
		margin: 10px;
	}



	div.box1 {
		padding: 5px;
		display: block;
	}

	div.leftside-col, div.rightside-col {
		margin: 15px;
	}

	input[type="text"] {
		width: 350px;
	}

	.videocontainer iframe {
		position: relative;
		width: 100%;
		margin: 0;
		overflow: hidden;
	} 


}



